{% extends "nk/layout.html" %} 
{% block header %}

{% endblock %} 
{% block content %}
<br />
<div id="fileUpload">
    <el-upload class="upload-demo" action="/nk/itemFileUpload" :on-preview="handlePreview" :on-remove="handleRemove"
        :file-list="fileList">
        <el-button size="small" type="primary">点击上传</el-button>
        <div slot="tip" class="el-upload__tip">只能上传jpg/png文件，且不超过500kb</div>
    </el-upload>
</div>
{% endblock %} 
{% block script %} 
{{super()}}
<script>
    let fileUpload = new Vue({
        delimiters: ['${', '}'],
        el: "#fileUpload",
        data() {
            fileList: []
        },
        methods: {
            handleRemove(file, fileList) {
                console.log(file, fileList);
            },
            handlePreview(file) {
                console.log(file);
            }
        }
    });
</script>
{% endblock %}