<!DOCTYPE html>
<html lang="zh">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- <script src="/javascripts/vue.js"></script> -->
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-default/index.css">
    <!-- <link rel="stylesheet" href="/stylesheets/element-ui/index.css"> -->
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <!-- <script src="/javascripts/element-ui.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.4"></script>
    <title>登陆</title>

</head>

<body>
    <div id="login">
        <el-form :inline="true" :model="loginForm" class="demo-form-inline">
            <el-form-item label="用户名">
                <el-input v-model="loginForm.user" placeholder="用户名"></el-input>
            </el-form-item>
            <el-form-item label="密码">
                <el-input type="password" v-model="loginForm.password" placeholder="密码"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="onSubmit">登陆</el-button>
            </el-form-item>
        </el-form>
    </div>
</body>
<script>
    'strict mode'
    Vue.config.delimiters = ['${', '}'];
    let login=new Vue({
        el:"#login",
        data:{
            loginForm:{
                user:"",
                password:""
            }
        },
        methods:{
            onSubmit(){
                this.$http.post("/nk/login",{
                    "user":this.loginForm
                }).then((res)=>{
                    if(res.body.success==false){
                        alert(res.body.errText);
                        return;
                    }
                    window.location.href="/nk/";
                });
            }
        }
    });
</script>

</html>