{% extends "nk/layout.html" %} 

{% block header %}
<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<style>
    #inputGdno {
        max-width: 300px;
        width: 180px;
        height: 25px;
        font-size: 18px;
        color:blue;
    }
    .el-table{ font-size: 13px; } 
    #closePopover{ float:right; }
     #stkArea{
        margin-right: 50px;
    }
    #inputGdno{
        float: left;
        margin-right: 30px;
    }
</style>
{% endblock %} 
{% block content %}
<br />
<div id="inputGroup">
    <el-popover  v-model="visible2"  placement="right" width="400" >
    <el-button id="closePopover" v-on:click="closeThis" size="mini" type="danger" icon="close"></el-button>
    <el-table :default-sort = "{prop: 'barNo'}"
        v-on:row-dblclick="dbClick" :data="gridData">
        <el-table-column width="150" property="barNo" label="条码"></el-table-column>
        <el-table-column width="150" property="name" label="货号"></el-table-column>
        <el-table-column width="100" property="sizeNo" label="尺码"></el-table-column>
    </el-table>
    </el-popover>
</div>
<input id="inputGdno" placeholder="请输入货号"></input>
<div id="stkArea">
    <el-select size="small" v-model="value" placeholder="请选择盘点区域">
        <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value">
        </el-option>
    </el-select>
    <el-badge :value="gdCount" class="item">
        <el-button v-on:click="submitStk" size="small" 
            v-loading.fullscreen.lock="fullscreenLoading"
            type="success" icon="el-icon-check ">提交盘点表</el-button>
    </el-badge>
</div>



<hr />
<el-row>
    <div id="table1">
    <template>
        <el-table  :data="tableData" style="width: 100%" height="500" show-summary>
            <el-table-column prop="workdate" label="日期" width="100">
            </el-table-column>
            <el-table-column prop="ttime"  label="单号" width="100">
            </el-table-column>
            <el-table-column label="图片" width="100">
                <template scope="scope">
                    <img style="width: 50px;height:50px;" v-bind:src="scope.row.imageUrl" />
                </template>
            </el-table-column>
            <el-table-column  label="序号" width="60">
                <template scope="scope">
                    ${scope.$index+1}
                </template>
            </el-table-column>
            <el-table-column prop="clsName" label="分类" width="180"></el-table-column>
            <el-table-column prop="barNo" label="条码" width="180"></el-table-column>
            <el-table-column prop="code" label="货号" width="180"></el-table-column>
            <el-table-column prop="sizeNo" label="尺码" width="100"></el-table-column>
            <el-table-column prop="qty" label="数量" width="180">
                <template scope="scope">
                     <el-input-number size="small" v-model="scope.row.qty"></el-input-number>
                </template>
            </el-table-column>
            <el-table-column prop="tagPrice" label="牌价" width="180"></el-table-column>
            <el-table-column label="操作">
                <template scope="scope">
                    <el-button
                    size="small"
                    type="danger"
                    @click="handleDelete(scope.$index, scope.row)">删除</el-button>
                </template>
            </el-table-column>
        </el-table>
    </template>
    </div>
</el-row>
{% endblock %} 
{% block script %} 
{{super()}}
<script>
    'strict mode'
    // $(function(){
    //     console.log("aaa");
    // });
    const workdate=getIntDate(new Date());
    const ttime=Date.parse(new Date())/1000;

    $("#inputGdno").keydown(function(e) {  
        if (e.keyCode == 13) {  
            let barNo=$("#inputGdno").val()
            $("#inputGdno").val("");
            if (barNo.length<1){
                return;
            }
            getItemInfoByBar(barNo);
        }  
    });
    let table1=new Vue({
        delimiters: ['${', '}'],
        el:"#table1",
        data:{
          tableData: []
        },
        methods: {
            handleDelete(index, row) {
                this.tableData.splice(index,1);
            }
        }
    });

    let stkArea=new Vue({
        el:"#stkArea",
        data:{
            options:[
                {value:"A",label:"A"},
                {value:"B",label:"B"},
                {value:"C",label:"C"},
                {value:"D",label:"D"},
                {value:"E",label:"E"},
                {value:"F",label:"F"},
                {value:"G",label:"G"},
                {value:"H",label:"H"},
                {value:"I",label:"I"},
                {value:"J",label:"J"},
                {value:"K",label:"L"},
                {value:"L",label:"L"},
                {value:"M",label:"M"},
                {value:"N",label:"N"},
                {value:"O",label:"O"},
            ],
            gdCount:0,
            value:"",
            fullscreenLoading:false
        },
        methods:{
            submitStk(){
                if(!this.value){
                    alert("请选择盘点区域!");
                    return;
                }
                if(table1.tableData.length<1){
                    alert("没有盘点数据");
                    return;
                }
                this.fullscreenLoading=true;
                this.$http.post("/nk/stkchkSubmit",{
                    "tableData":table1.tableData,
                    "stkArea":this.value
                }).then((res)=>{
                    let stat=res.body;
                    if(stat.success){
                        alert("提交成功");
                        window.location.reload();
                    }else{
                        this.fullscreenLoading=false;
                    }
                },(err)=>{
                    alert(err.body)
                    this.fullscreenLoading=false;
                });
            }
        }
    })

    let inputGroup=new Vue({
        el:"#inputGroup",
        data:{
            visible2:false,
            gridData: []
        },
        methods:{
            dbClick(row, event){
                console.log(row);
                getItemInfoByBar(row.barNo);
                $("#inputGdno").val("");
                $("#inputGdno").focus();
                this.visible2=false;
            },
            closeThis(){
                this.visible2=false;
            }
        }
    });
    function getIntDate(dd){
        let year=dd.getFullYear().toString();
        let month=(dd.getMonth()+1)<10?'0'+(dd.getMonth()+1).toString():(dd.getMonth()+1);
        let day=dd.getDate()<10?'0'+dd.getDate().toString():dd.getDate();
        return year+month+day;
    }

    function getItemInfoByBar(barNo){
        console.log("aaa");
        $.post("/nk/stkchkQueryNo",{
            "barNo":barNo
        },function(e){
            console.log(e);
            if(e.success==false){
                alert(e.data);
                return;
            }
            let item={};
            let data=e.data;
            if(data.length>1){
                inputGroup.visible2=true;
                inputGroup.gridData=[];
                for(let aa of data){
                    inputGroup.gridData.push({
                        "barNo":aa.barNo,
                        "name":aa.name,
                        "sizeNo":aa.sizeNo
                    });
                }
                return;
            }
            item.barNo=data[0].barNo;
            item.workdate=workdate;
            item.clsName=data[0].clsName;
            item.ttime=ttime;
            item.code=data[0].name;
            item.imageUrl="http://pic.belle.net.cn/2017/MDM/NK/" + data[0].name + ".jpg";
            item.sizeNo=data[0].sizeNo;
            item.tagPrice=data[0].tagPrice;
            item.qty=1;
            table1.tableData.unshift(item);
            stkArea.gdCount=table1.tableData.length;
        });
    }
</script>
{% endblock %}